.main{
    height:100vh;
 }
 .containerWrapper{
     height:90vh;
     display:flex;
     justify-content:center;
     align-items:center;
     text-align:center;
 }
 .container{
     display:flex;
     height:300px;
     border:solid 1px white;
     flex-direction:column;
     width:80%;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius:9999px;
 }
 .button{
     margin-top:20px;
     font-size:larger;
     border: solid 1px white;
     color:black;
     background-color:white;
     border-radius:9999px;
     padding:5px;
 }
